<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
  Hi {{ person }}! I think you're {{ compliment }}!
  <P>Do you want to play  game? </P>
  <form action="/madlib">
    <label>Add your name:</label>
    <input type="text" name="name">
    <label>Choose color:</label>
    <input type="text" name="color"> 
    <label>Choose noun:</label>
    <input type="text" name="noun" > 
    <label>Choose adjective:</label>
    <input type="text" name="adjective">
    <input type="submit">
  </form>
   
</body>
</html>

